<h1></h1>
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<img src="http://orig08.deviantart.net/4b7d/f/2012/188/2/b/welcome_gif_by_4everlaugh-d56crsq.gif" alt="" />
<i class="em em-poop"></i>
<img src="http://i.imgur.com/b75Tmho.gif" alt="" />
